:root {
  --font-family-default: 'Poppins', sans-serif;
  --font-family-board: 'Comic Sans MS', cursive, sans-serif;
  --main-text-color: #fff;
  --background-color: #609ea0;
  --background-button: #056164;
  --lines-color: #deb887;
}
