.modal {
  padding: 3rem 6rem;
  border: 2px solid var(--lines-color);
  border-radius: 10px;
  color: var(--main-text-color);
  text-align: center;
  background-color: var(--lines-color);
  outline: none;
}

.modal::backdrop {
  background: black;
  opacity: 0.6;
}

@media screen and (max-width: 610px) {
  .modal {
    padding: 2rem 3rem;
  }
}
