@import './variables.css';
@import './score.css';
@import './board.css';
@import './rules.css';
@import './modal.css';

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  font-family: var(--font-family-default);
  font-size: 30px;
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: center;
  width: 80%;
  border-bottom: 3px dotted var(--lines-color);
}

h1 {
  margin: 20px;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

section {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

button {
  padding: 0.5rem 1rem;
  border: 3px solid var(--lines-color);
  border-radius: 20px;
  color: var(--main-text-color);
  font-size: 20px;
  cursor: pointer;
  background-color: var(--background-button);
}

@media screen and (max-width: 1024px) {
  header {
    width: 50%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    padding: 0.5rem 0.5rem;
    border: 3px solid var(--lines-color);
    font-size: 1rem;
  }
}

@media screen and (max-width: 610px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.5rem;
  }

  button {
    font-size: 0.7rem;
  }
}
